[Desktop Entry]
Name=AR
GenericName=Terminal entering AR
Comment=Terminal entering AR
Categories=Distrobox;System;Utility
Exec=terminal switch ar
Icon=/var/home/david/.local/share/icons/distrobox/ubuntu.png
Keywords=distrobox;
NoDisplay=false
Type=Application
