[Desktop Entry]
Name=Cms
GenericName=Terminal entering Cms
Comment=Terminal entering Cms
Categories=Distrobox;System;Utility
Exec=/usr/bin/distrobox enter  cms
Icon=/var/home/david/.local/share/icons/distrobox/ubuntu.png
Keywords=distrobox;
NoDisplay=false
Terminal=true
TryExec=/usr/bin/distrobox
Type=Application
