[Desktop Entry]
Name=HMS
GenericName=Terminal entering HMS
Comment=Terminal entering HMS
Categories=Distrobox;System;Utility
Exec=terminal switch hms
Icon=/var/home/david/.local/share/icons/distrobox/ubuntu.png
Keywords=distrobox;
NoDisplay=false
Type=Application
