[Desktop Entry]
Version=1.0
Type=Application
Name=WezTerm
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec=/home/linuxbrew/.linuxbrew/bin/wezterm
StartupNotify=true
Exec=/home/linuxbrew/.linuxbrew/bin/wezterm
Categories=System;TerminalEmulator;
