[Desktop Entry]
Name=SYS
GenericName=Terminal entering SYS
Comment=Terminal entering SYS
Categories=Distrobox;System;Utility
Exec=terminal switch sys
Icon=/var/home/david/.local/share/icons/distrobox/ubuntu.png
Keywords=distrobox;
NoDisplay=false
Type=Application
