[Desktop Entry]
Type=Application
Exec=distrobox enter --no-workdir dot -- kitty --directory main
Icon=neovide
Name=Dot
Keywords=Text;Editor;
Categories=Utility;TextEditor;
