[Desktop Entry]
Type=Application
Exec=distrobox enter --no-workdir tina -- kitty --directory main
Icon=neovide
Name=Tina
Keywords=Text;Editor;
Categories=Utility;TextEditor;
