applications/com.google.Chrome.*
config/autostart
config/cni/net.d
config/evolution/sources
config/fish/fish_variables
config/goa-1.0
config/gsconnect
config/ibus/bus
config/nautilus
config/pulse
config/yelp
config/monitors.xml~
config/dconf/user
config/systemd/user
config/.gsd-keyboard.settings-ported
config/nvim/lazy-lock.json
secrets
config/BraveSoftware/Brave-Browser
