# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
sys-*.tar

# Temporary files, for example, from tests.
/tmp/

*.secret.*
config/autostart
config/cni/net.d
config/evolution/sources
config/fish/fish_variables
config/goa-1.0
config/gsconnect
config/ibus/bus
config/nautilus
config/pulse
config/yelp
config/monitors.xml~
config/dconf/user
config/systemd/user
config/.gsd-keyboard.settings-ported
config/nvim/lazy-lock.json
secrets
