[Desktop Entry]
Comment=
Exec=kitty --hold homes
Icon=/var/home/david/.local/kitty.app/share/icons/hicolor/scalable/apps/kitty.svg
Name=Homes
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
