[Desktop Entry]
Version=1.0
Type=Application
Name=sys  trunk
StartupNotify=true
Exec=distrobox enter sys -- kitty --directory=Boxes/sys/trunk --session=sys-session.conf
