[Desktop Entry]
Version=1.0
Type=Application
Name=chr  trunk
StartupNotify=true
Exec=kitty --directory=Projects/chr/trunk --session=chr-session.conf
