default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: {{ postgres.hostname }}
  username: {{ postgres.user }}

development:
  <<: *default
  database: {{ postgres.dev.name }}

test:
  <<: *default
  database: {{ postgres.test.name }}

production:
  primary: &primary_production
    <<: *default
    database: tst_production
    username: tst
    password: <%= ENV["TST_DATABASE_PASSWORD"] %>
  cache:
    <<: *primary_production
    database: tst_production_cache
    migrations_paths: db/cache_migrate
  queue:
    <<: *primary_production
    database: tst_production_queue
    migrations_paths: db/queue_migrate
  cable:
    <<: *primary_production
    database: tst_production_cable
    migrations_paths: db/cable_migrate
