[Desktop Entry]
Version=1.0
Type=Application
Name={{ box }}  {{ worktree }}
StartupNotify=true
Exec=distrobox enter --no-workdir {{ box }} -- kitty --directory={{ worktree }} --session={{ box }}-session.conf
